@model Pizza
<h2>Details:</h2>

<partial name="~/Views/Shared/Partials/_PizzaDetailsPartial.cshtml" model="@Model" /> 

@{ //Task1
    if (Model.IsOnPromotion)
    {
    <h4>The Pizza is on promotion</h4> 
    }
    else
    {
    <h4>The Pizza is not on promotion</h4> }
    }


 

 