@model FeedbackDetailsViewModel
<div class="text-center">
    <h2 class="display-4">Feedbacks</h2>
</div>
<br />
<br />


<div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin-left:10px;">
    <div class="card-body">
        <img class="card-img-top" src="https://media.wsimag.com/attachments/65d21ec7e8c0a029bf0bd5c1e17b23a13c012b96/store/fill/1470/827/9c07ac704f6e70c81a216485d9e1451ae5ce8920729b3270ce236345f211/Giving-Feedback.jpg" alt="Card image cap">
        <h5 class="card-title"><label asp-for="Name"></label>: @Model.Name</h5>
        <h5 class="card-title"><label asp-for="Message"></label>: @Model.Message</h5>
        <h6 class="card-subtitle mb-2 text-muted">
        </h6>
    </div>
</div>
<br />