@model List<SEDC.PizzaApp.Models.ViewModels.PizzaViewModel>

<h2>These are our pizzas:</h2>

@for (int i = 0; i < Model.Count(); i++) //Model == List<PizzaViewModel>
{
    <p>@Model[i].Name - @Model[i].Price - @Model[i].PizzaSize</p>
}